APP_NAME="ဘီးကြဲ"
APP_ENV=local
APP_KEY=base64:yp/neRwqjcWkAtkitFn2Wf9jflNNYm0gapGJJggJD5E=
APP_DEBUG=true
APP_URL=http://192.168.100.70:80

APP_LOCALE=my
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# MySQL Configuration
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=minipos
DB_USERNAME=root
DB_PASSWORD=asdffdsa

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=localhost

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# NativePHP Configuration (if you use NativePHP)
NATIVEPHP_PLATFORM=android
NATIVEPHP_APP_ID=com.hak.minipos
NATIVEPHP_APP_VERSION=1.0.31
NATIVEPHP_APP_VERSION_CODE=13

NATIVEPHP_ANDROID_COMPILE_SDK=36
NATIVEPHP_ANDROID_MIN_SDK=26
NATIVEPHP_ANDROID_TARGET_SDK=36

NATIVEPHP_GRADLE_PATH=/Library/Java/JavaVirtualMachines/openjdk-17.0.19/Contents/Home
NATIVEPHP_ANDROID_SDK_LOCATION=/Users/hak/Library/Android/sdk
ANDROID_EMULATOR=/Users/hak/Library/Android/sdk/emulator/emulator

ANDROID_KEYSTORE_FILE=app-release-key.jks
ANDROID_KEYSTORE_PATH=/Users/hak/Herd/mini-pos/credentials/app-release-key.jks
ANDROID_KEYSTORE_PASSWORD=asdffdsa
ANDROID_KEY_ALIAS=app-key
ANDROID_KEY_PASSWORD=asdffdsa

IS_MOBILE_APP=false
