{
    admin off
}

bee-kyal.local:80 {
    root * /var/www/public
    php_fastcgi app:9000
    file_server

    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
    }

    encode gzip
}

:80 {
    root * /var/www/public
    php_fastcgi app:9000
    file_server

    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
    }

    encode gzip
}
